
#overlay

script(src="bower_components/jquery/dist/jquery.js")
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src="js/functions.js")
script(src="js/alexValidate.js")
script(src="js/jquery.selectbox.min.js" )
script(src="js/jquery.mCustomScrollbar.js" )
script(src="js/particles.js" )

