
#overlay

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
//script(src="js/bootstrap_tabs.min.js")
script(src="js/alexValidate.js")
script(src="bower_components/jquery.bxslider/jquery.bxslider.js")
script(src="bower_components/Gallery-2.20.0/js/blueimp-gallery.js" )
script(src="js/jquery.selectbox.min.js" )
script(src="js/jquery.mCustomScrollbar.js" )


