#bar_opened
#preloader
header
    .top.cf

            .menu-icon

                .label Menu
            .logo
                a(href="/")
                    img(src="img/icons/logo.png")
            .bag-icon
                span 2
                .label Bag
    .menu-bar
        .nav-menu-wrapper
            .menu
                .menu-holder
                    .menu-block
                        .title Menu
                        ul.nav
                            li
                                a(href="about.html") ABOUT
                            li
                                a(href="collections.html") COLLECTIONS
                            li
                                a(href="media.html") MEDIA
                            li
                                a(href="stockists.html") STOCKISTS
                            li
                                a(href="list_product.html") BUY ONLINE
                            li
                                a(href="contacts.html") CONTACTS

        ul.social.cf
            li.instagram
                a(href="#" target="_blank")
                    span
                        img(src="img/icons/instagram.svg")
                    span.hover
                        img(src="img/icons/instagram.svg")
            li.facebook
                a(href="#" target="_blank")
                    span
                        img(src="img/icons/fb.svg")
                    span.hover
                        img(src="img/icons/fb.svg")
        ul.lang
            li.active
                a(href="#")
                    span EN
                    span.hover EN
            li
                a(href="#")
                    span RU
                    span.hover RU
        .info
            a(href="info.html")
                span
                    img(src="img/icons/info.svg")
                span.hover
                    img(src="img/icons/info.svg")

    .bag_bar

            .bag-icon.cf
                span 2
            .list_product_bag

                .item_product.cf
                    a(href="product.html")
                        .img-holder
                            img(src="img/content/product.png")
                        .title GREY COAT WITH FUR GREY COAT WITH FUR
                        .size Size: S  |  QTY: 1
                        button.delete
                        .price $ 540
                .item_product.cf
                    a(href="product.html")
                        .img-holder
                            img(src="img/content/product.png")
                        .title GREY COAT WITH FUR
                        .size Size: L  |  QTY: 1
                        button.delete
                        .price $ 600




            .total
                span TOTAL
                span $ 1 140.00

            a.checkout.disabled(href="checkout.html" )
                span CHECKOUT
                span.hover CHECKOUT






