
#preloader
header

    .menu-bar
        .nav-menu-wrapper
            .menu
                .menu-holder
                    .menu-block
                        .title Menu
                        ul.nav
                            li
                                a(href="about.html") ABOUT
                            li
                                a(href="collections.html") COLLECTIONS
                            li
                                a(href="media.html") MEDIA
                            li
                                a(href="stockists.html") STOCKISTS
                            li
                                a(href="list_product.html") BUY ONLINE
                            li
                                a(href="contacts.html") CONTACTS








