//#preloader


.main-navigation
    .container
        .navbar-header
            button(data-target="#navbar" data-toggle="collapse" class="navbar-toggle" type="button")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

            a.logo(href="#section-home")  XLR



        #navbar.collapse.navbar-collapse
            ul.navigation-pannel.nav.navbar-nav.navbar-right
                li.active
                    a(href='#section-home') Главная
                li.active
                    a(href="#services") services
                li
                    a(href="#modern_tools") tools
                li
                    a(href="#video") Видео
                li
                    a(href="#price") Тарифы
                li
                    a(href="#reviews") Отзывы
                li
                    a(href="#team") Команда

                li
                    a(href="#contact") Контакты

