doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll" data-target="#navbar" data-offset="105")
        .page_wrapper
            include ./header.jade

            #section-home
                h3 Keysoft, blissful innovation
                p Spend less time worrying about front-end and more focusing on your product
                #particles-js
                    canvas.particles-js-canvas-el(width="1326" height="663" style="width: 100%; height: 100%;")

            #services
                .container
                    .row
                        .col-md-6
                            i.fa.fa-globe.fa-2x
                            h3 Completely flexible, create the landing page you want
                            p Every section in doFollow is completely optional. You don't need a certain section? Just remove it from the landing page and you are good to go.
                            p The same goes for adding a section, need some more text or images? Just add them to the template!


                        .col-md-6
                            .img-holder
                                img(src="img/content/image-twophones.png" alt="Landing Page doFollow")
                    .row
                        .col-md-6
                            .img-holder
                                img(src="img/content/pad-pen.jpg" alt="Landing Page doFollow")
                        .col-md-6
                            i.fa.fa-cogs.fa-2x
                            h3 Add great animations to your landing page
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                    .row
                        .col-md-6
                            i.fa.fa-clone.fa-2x
                            h3 Totally flexible and very easy to modify
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        .col-md-6
                            .img-holder
                                img(src="img/content/app-phone-hand.jpg" alt="Landing Page doFollow")


            #modern_tools
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Modern tools
                            p Partnership or temporary organization perfectly designed.
                    .row.center
                        .col-md-3
                            i.nc-icon-outline.heart
                            h4 Boost performance
                            p GRID displays your content in an eye-catching way and enables customizable internal distribution.

                        .col-md-3
                            i.nc-icon-outline.keyboard
                            h4 Higly customizable
                            p Key features flexible layouts and themes to customize your content's unique look.

                        .col-md-3
                            i.nc-icon-outline.sign
                            h4 Simplified workflow
                            p Key is the first-ever truly team-friendly media CMS. Collaborating on content is efficient.

                        .col-md-3
                            i.nc-icon-outline.pc
                            h4 Cross platform
                            p Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness.


            #video
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Видео обзор
                            p Partnership or temporary organization perfectly designed.
                    .row.video
                        .col-lg-12.text-center
                            a.open-modal.video-open(href="#video-modal")
                                img(src="img/content/video.png" alt="Video")
                                span(class="play-video")
                                    i.fa.fa-play

            #price
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Цена на тарифы
                            p Student or professional we have the right price for you
                    .row.price_block
                        .col-md-4
                            .pricing-block-content(style="animation-delay: 0.4s", data-wow-delay="0.4s")
                                h4 Personal
                                .pricing
                                    .price
                                        span $
                                        | 19

                                    .price-sub Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                                ///ul
                                    li
                                        i.fa.fa-check
                                        | 5 Downloads
                                    li
                                        i.fa.fa-check
                                        | 2 Extensions
                                    li
                                        i.fa.fa-check
                                        | Tutorials
                                    li
                                        i.fa.fa-check
                                        | Forum Support
                                    li
                                        i.fa.fa-check
                                        | 1 year free updates
                                a.open_modal(href="#" class="button") Заказать

                        .col-md-4
                            .pricing-block-content(style="animation-delay: 0.6s", data-wow-delay="0.6s")
                                h4 Student
                                .pricing.blue
                                    //.price
                                        span $
                                        | 29

                                    .price-sub Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                        | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.


                                //ul
                                    li
                                        i.fa.fa-plus
                                        | Everything In BASIC, Including:
                                    li
                                        i.fa.fa-check
                                        | 2 Extensions
                                    li
                                        i.fa.fa-check
                                        | Tutorials
                                    li
                                        i.fa.fa-check
                                        | Forum Support
                                    li
                                        i.fa.fa-check
                                        | 1 year free updates
                                a.open_modal(href="#" class="button") Заказать

                        .col-md-4
                            .pricing-block-content(style="animation-delay: 0.8s", data-wow-delay="0.8s")
                                h4 Business
                                .pricing
                                    //.price
                                        span $
                                        | 49

                                    .price-sub Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                        | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

                                //ul
                                    li
                                        i.fa.fa-plus
                                        | Everything In STANDARD, Including:
                                    li
                                        i.fa.fa-check
                                        | 2 Extensions
                                    li
                                        i.fa.fa-check
                                        | Tutorials
                                    li
                                        i.fa.fa-check
                                        | Forum Support
                                    li
                                        i.fa.fa-check
                                        | 1 year free updates
                                a.open_modal(href="#" class="button") Заказать

            #reviews
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Что говорят клиенты
                            p Don't just take our word for it
                    .row
                        .col-md-4.item-review
                            .img-holder
                                img(src="img/content/user-1.jpg")
                            .text-review
                                q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .name John Doe - Happy Customer

                        .col-md-4.item-review
                            .img-holder
                                img(src="img/content/user-2.jpg")
                            .text-review
                                q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .name Roslyn Doe - Happy Customer
                        .col-md-4.item-review
                            .img-holder
                                img(src="img/content/user-3.jpg")
                            .text-review
                                q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .name Thomas Doe - Happy Customer

            .review-img

            #team
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Наша команда
                            p Our team maintains an effective mix of development experience and seasoned leadership.

                    .row
                        .col-md-4
                            .item-team
                                .img-holder
                                    img(src="img/content/team1.jpg")
                                .team-socials
                                    a(href="#" target="_blank")
                                        i.fa.fa-facebook
                                    a(href="#" target="_blank")
                                        i.fa.fa-twitter
                                    a(href="#" target="_blank")
                                        .fa.fa-linkedin

                                .info-team
                                    .name Jerry Mack
                                    .specialty Web Developer
                                    .description He enjoys the finer details of a project, considering every stage of his.

                        .col-md-4
                            .item-team
                                .info-team
                                    .name Jerry Mack
                                    .specialty Web Developer
                                    .description He enjoys the finer details of a project, considering every stage of his.
                                .img-holder
                                    img(src="img/content/team2.jpg")
                                .team-socials
                                    a(href="#" target="_blank")
                                        i.fa.fa-facebook
                                    a(href="#" target="_blank")
                                        i.fa.fa-twitter
                                    a(href="#" target="_blank")
                                        .fa.fa-linkedin

                        .col-md-4
                            .item-team
                                .img-holder
                                    img(src="img/content/team1.jpg")
                                .team-socials
                                    a(href="#" target="_blank")
                                        i.fa.fa-facebook
                                    a(href="#" target="_blank")
                                        i.fa.fa-twitter
                                    a(href="#" target="_blank")
                                        .fa.fa-linkedin
                                .info-team
                                    .name Jerry Mack
                                    .specialty Web Developer
                                    .description He enjoys the finer details of a project, considering every stage of his.






            #subscribe
                .container
                    .row
                        .col-md-6.col-xs-12
                            h3 Subscribe to receive free updates!

                        .col-md-6.col-xs-12
                            .row
                                form.subscribe
                                    .col-md-8
                                        input(type="text", placeholder="Email", data-validate="email")
                                    .col-md-4
                                        a.button(type="submit") Подписаться


            #contact
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Контакты
                            p Deserunt nesciunt sed molestiae quos, dolor eaque quis facilis tempora consequuntu.

                    .row
                        .col-md-8

                            .success_box Спасибо! В ближайшее время с Вами свяжется наш менеджер.

                            form#contact-form.contact(action='mailto:vitaliya.intertech@gmail.com', name="contact", ectype="text/plain", method='post')

                                .row
                                    .col-md-6.cf
                                            input.contact-input.white-input(required='', name='contact_names', placeholder='Имя', type='text', data-validate="name")
                                            span.error Поле обязательное для заполнения
                                    .col-md-6.cf
                                            input.contact-input.white-input(required='', name='contact_email', placeholder='Email/Телефон', type='text', data-validate="empty")
                                            span.error Введены некорректные символы

                                .row
                                    .col-md-12.cf
                                        textarea.contact-commnent.white-input(rows='2', cols='20', name='contact_message', placeholder='Сообщение', data-validate="empty")
                                        span.error Поле обязательное для заполнения

                                .row
                                    .col-md-12
                                        a#submit-button.contact-submit.button(type='submit') Отправить

                        .col-md-4
                            div Телефон:
                                a(href="tel:+38 0973040144") +38 0973040144
                            div E-mail:
                                a(href="mailto:vitaliya.intertech@gmail.com") vitaliya.intertech@gmail.com
                                a(href="mailto:home1.intertech@gmail.com") home1.intertech@gmail.com

                            div
                                a.open-modal(href="#protection_personal_information") Договор о защите персональных данных
                                a.open-modal(href="#terms_use") Пользовательское соглашение



            #copyright
                .footer-logo
                    span.blue Inter
                    | Tech
                div Copyright © 2016. Designed &amp; Developed by&nbsp;
                    a(href="http://intertechcompany.com/" target="_blank") Intertech



            a.scrollTop(href="#")
                img(src="img/icons/up_button.svg")
                span up

            a#call_back.open-modal(href="#call_back_form") Задать вопрос
            #overlay

            #video-modal.modal_div
                .content-holder
                    iframe(width="712" height="400" src="https://www.youtube.com/embed/kPDnw3_1GOI" frameborder="0" allowfullscreen)

            #call_back_form.modal_div
                .modal_close
                .success_box Спасибо! В ближайшее время с Вами свяжется наш менеджер.
                .content-holder

                    .overflow-holder

                        form(action='mailto:vitaliya.intertech@gmail.com', name="call_back", ectype="text/plain", method='post')
                            h3 Задать вопрос
                            div.cf
                                input(type="text" placeholder="Имя" data-validate="name")
                                span.error Введены некорректные символы
                            div.cf
                                input(type="text" placeholder="Телефон/Email" data-validate="empty")
                                span.error Введены некорректные символы

                            div.cf
                                textarea( placeholder="Сообщение" data-validate="empty")
                                span.error Поле обязательное для заполнения
                            a.button.submit(type="submit") Отправить

            #protection_personal_information.modal_div
                .modal_close
                .content-holder
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.

            #terms_use.modal_div
                .modal_close
                .content-holder
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.

            include ./footer.jade



