doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll" data-target="#navbar" data-offset="105")
        .page_wrapper
            include ./header.jade

            #section-home
                h3 Keysoft, blissful innovation
                p Spend less time worrying about front-end and more focusing on your product
                #particles-js
                    canvas.particles-js-canvas-el(width="1326" height="663" style="width: 100%; height: 100%;")

            #services
                .container
                    .row
                        .col-md-6
                            i.fa.fa-globe.fa-2x
                            h3 Completely flexible, create the landing page you want
                            p Every section in doFollow is completely optional. You don't need a certain section? Just remove it from the landing page and you are good to go.
                            p The same goes for adding a section, need some more text or images? Just add them to the template!


                        .col-md-6
                            .img-holder
                                img(src="img/content/image-twophones.png" alt="Landing Page doFollow")
                    .row
                        .col-md-6
                            .img-holder
                                img(src="img/content/pad-pen.jpg" alt="Landing Page doFollow")
                        .col-md-6
                            i.fa.fa-cogs.fa-2x
                            h3 Add great animations to your landing page
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                    .row
                        .col-md-6
                            i.fa.fa-clone.fa-2x
                            h3 Totally flexible and very easy to modify
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        .col-md-6
                            .img-holder
                                img(src="img/content/app-phone-hand.jpg" alt="Landing Page doFollow")


            #modern_tools
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Modern tools
                            p Partnership or temporary organization perfectly designed.
                    .row.center
                        .col-md-3
                            i.nc-icon-outline.heart
                            h4 Boost performance
                            p GRID displays your content in an eye-catching way and enables customizable internal distribution.

                        .col-md-3
                            i.nc-icon-outline.keyboard
                            h4 Higly customizable
                            p Key features flexible layouts and themes to customize your content's unique look.

                        .col-md-3
                            i.nc-icon-outline.sign
                            h4 Simplified workflow
                            p Key is the first-ever truly team-friendly media CMS. Collaborating on content is efficient.

                        .col-md-3
                            i.nc-icon-outline.pc
                            h4 Cross platform
                            p Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness.


            #video
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Our video
                            p Partnership or temporary organization perfectly designed.
                    .row.video
                        .col-lg-12.text-center
                            a.open-modal.video-open(href="#video-modal")
                                img(src="img/content/video.png" alt="Video")
                                span(class="play-video")
                                    i.fa.fa-play

            #price
                .container
                    .row
                        .col-lg-12.text-center
                            h3 A price for your budget
                            p Student or professional we have the right price for you
                    .row.price_block
                        .col-md-4
                            .pricing-block-content(style="animation-delay: 0.4s", data-wow-delay="0.4s")
                                h4 Personal
                                .pricing
                                    .price
                                        span $
                                        | 19

                                    .price-sub The standard version
                                ul
                                    li
                                        i.fa.fa-check
                                        | 5 Downloads
                                    li
                                        i.fa.fa-check
                                        | 2 Extensions
                                    li
                                        i.fa.fa-check
                                        | Tutorials
                                    li
                                        i.fa.fa-check
                                        | Forum Support
                                    li
                                        i.fa.fa-check
                                        | 1 year free updates
                                a.open_modal(href="#" class="button") Заказать

                        .col-md-4
                            .pricing-block-content(style="animation-delay: 0.6s", data-wow-delay="0.6s")
                                h4 Student
                                .pricing.blue
                                    .price
                                        span $
                                        | 29

                                    .price-sub The standard version
                                ul
                                    li
                                        i.fa.fa-plus
                                        | Everything In BASIC, Including:
                                    li
                                        i.fa.fa-check
                                        | 2 Extensions
                                    li
                                        i.fa.fa-check
                                        | Tutorials
                                    li
                                        i.fa.fa-check
                                        | Forum Support
                                    li
                                        i.fa.fa-check
                                        | 1 year free updates
                                a.open_modal(href="#" class="button") Заказать

                        .col-md-4
                            .pricing-block-content(style="animation-delay: 0.8s", data-wow-delay="0.8s")
                                h4 Business
                                .pricing
                                    .price
                                        span $
                                        | 49

                                    .price-sub The standard version
                                ul
                                    li
                                        i.fa.fa-plus
                                        | Everything In STANDARD, Including:
                                    li
                                        i.fa.fa-check
                                        | 2 Extensions
                                    li
                                        i.fa.fa-check
                                        | Tutorials
                                    li
                                        i.fa.fa-check
                                        | Forum Support
                                    li
                                        i.fa.fa-check
                                        | 1 year free updates
                                a.open_modal(href="#" class="button") Заказать

            #reviews
                .container
                    .row
                        .col-lg-12.text-center
                            h3 What customers are saying
                            p Don't just take our word for it
                    .row
                        .col-md-4.item-review
                            .img-holder
                                img(src="img/content/user-1.jpg")
                            .text-review
                                q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .name John Doe - Happy Customer

                        .col-md-4.item-review
                            .img-holder
                                img(src="img/content/user-2.jpg")
                            .text-review
                                q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .name Roslyn Doe - Happy Customer
                        .col-md-4.item-review
                            .img-holder
                                img(src="img/content/user-3.jpg")
                            .text-review
                                q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            .name Thomas Doe - Happy Customer
                .review-img

            #team
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Our team
                            p Our team maintains an effective mix of development experience and seasoned leadership.

                    .row
                        .col-md-4
                            .item-team
                                .img-holder
                                    img(src="img/content/team1.jpg")
                                .team-socials
                                    a(href="#" target="_blank")
                                        i.fa.fa-facebook
                                    a(href="#" target="_blank")
                                        i.fa.fa-twitter
                                    a(href="#" target="_blank")
                                        .fa.fa-linkedin

                                .info-team
                                    .name Jerry Mack
                                    .specialty Web Developer
                                    .description He enjoys the finer details of a project, considering every stage of his.

                        .col-md-4
                            .item-team
                                .info-team
                                    .name Jerry Mack
                                    .specialty Web Developer
                                    .description He enjoys the finer details of a project, considering every stage of his.
                                .img-holder
                                    img(src="img/content/team2.jpg")
                                .team-socials
                                    a(href="#" target="_blank")
                                        i.fa.fa-facebook
                                    a(href="#" target="_blank")
                                        i.fa.fa-twitter
                                    a(href="#" target="_blank")
                                        .fa.fa-linkedin

                        .col-md-4
                            .item-team
                                .img-holder
                                    img(src="img/content/team1.jpg")
                                .team-socials
                                    a(href="#" target="_blank")
                                        i.fa.fa-facebook
                                    a(href="#" target="_blank")
                                        i.fa.fa-twitter
                                    a(href="#" target="_blank")
                                        .fa.fa-linkedin
                                .info-team
                                    .name Jerry Mack
                                    .specialty Web Developer
                                    .description He enjoys the finer details of a project, considering every stage of his.






            #subscribe
                .container
                    .row
                        .col-md-6
                            h3 Subscribe to receive free updates!

                        .col-md-6
                            form.subscribe
                                div
                                    input(type="text", placeholder="Email", data-validate="email")
                                a.button(type="submit") Подписаться


            #contact
                .container
                    .row
                        .col-lg-12.text-center
                            h3 Contact
                            p Deserunt nesciunt sed molestiae quos, dolor eaque quis facilis tempora consequuntu.


            #overlay
            #video-modal.modal_div
                .content-holder
                    iframe(width="712" height="400" src="https://www.youtube.com/embed/kPDnw3_1GOI" frameborder="0" allowfullscreen)


            include ./footer.jade



